@import url("https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap");
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: "Ribeye Marrow", cursive;
}

@keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-moz-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

.App {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.stars {
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
}

.twinkling {
    width: 10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    -moz-animation: move-background 70s linear infinite;
    -ms-animation: move-background 70s linear infinite;
    -o-animation: move-background 70s linear infinite;
    -webkit-animation: move-background 70s linear infinite;
    animation: move-background 70s linear infinite;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    z-index: 3;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: rgba(144, 19, 254, 0.13);
    border-radius: 12px;
    border: 2px solid rgba(202, 12, 240, 0.125);
    z-index: inherit;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    align-items: center;
    align-self: center;
    justify-content: center;
    font-size: 20px;
    max-width: 250px;
    max-height: 250px;
}

.card img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.card:last-child {
    margin-bottom: auto;
}

.card:hover {
    max-width: 550px;
    max-height: 550px;
    position: absolute;
    z-index: 4;
    align-self: center;
}